
/* Images */

.img-container {
   display: flex;
}

.img-container > img {
   width: 100%;
}



/* Sections */

.section-full {
   min-height: calc(100vh - 5.625rem);
}

.section-full-spy {
   min-height: 100vh;

   padding-top: 5.625rem;
}



/* Fonts */

.font-intro {
   font-size: 6rem;
   font-weight: 600;
}

.font-data {
   font-size: 4rem;
   font-weight: 600;
}

.font-btn {
   font-size: 2rem;
}



/* Backgrounds */

.bg-main {
   background-color: var(--black)!important;
}

.bg-element {
   background-color: var(--soft-black)!important;
}

.bg-parallax {
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   backdrop-filter: blur(1rem);

   background-color: rgba(0, 0, 0, 0.80);
   background-blend-mode: color-dodge;
}

.bg-img-1 {
   background-image: url('../images/bg-1.webp');
}



/* Colors */

.font-white {
   color: var(--white);
}

.link-white {
   color: var(--white);

   transition: color 0.3s ease-in-out;
}

.link-white.active {
   color: #0DCAF0!important;
}

.font-grey {
   color: var(--light-grey);
}

.hover-info {
   transition: color 0.3s ease-in-out;
}

.hover-info:hover {
   color: #0889a3!important;
}



/* Cursors */

.cursor-pointer {
   cursor: pointer;
}



/* Tooltips */

.tooltip-element {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   background-color: rgba(0, 0, 0, 0.45);
   backdrop-filter: blur(0.5rem);

   opacity: 0;
   visibility: hidden;

   transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
   .tooltip-element {
      position: absolute;
      top: calc(100% + 1rem);
      right: -3rem;
      bottom: unset;
      left: unset;
   }
}

.tooltip-element.show {
   opacity: 1;
   visibility: visible;
}

.tooltip-element > main {
   width: 85%;

   background-color: #2c3034;

   padding: 1.5rem 2rem;

   border-radius: 0.5rem;

   transform: translateY(-150%);

   transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
   .tooltip-element > main {
      width: 30rem;
   }
}

.tooltip-element.show > main {
   transform: translateY(0);
}



/* Buttons */

.top-btn {
   position: fixed;
   right: 2rem;
   bottom: 2rem;

   cursor: pointer;

   z-index: 100;
}

@media only screen and (min-width: 768px) {
   .top-btn {
      display: none;
   }
}

.top-btn > i {
   font-size: 5rem;

   border-radius: 50%;

   box-shadow: 0 0 0.5rem 0.2rem #0DCAF0;
}